.content{

    .grid-container--small{
        max-width: rem-calc(900);
    }

    &.blog-archive{

        .content-header{
            text-align: left;

            @include breakpoint(small down){
                margin-left: 0;
            }

            &__img{
                display: block;
                height: 18vw;
                overflow: hidden;

                @include breakpoint(medium down){
                    height: 40vw;
                }

                @include breakpoint(small down){
                    height: 85vw;
                }

                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }

            h2{
                font-weight: 700;
                line-height: 1.1;
                font-size: $login-head-font;
                margin-top: rem-calc(20);

                a{
                    color: $black;
                    transition: .2s ease-in-out;

                    &:hover{
                        color: $red;
                    }
                }

                @include breakpoint(small down){
                    font-size: $login-head-font;
                }
            }

            p{
                font-size: $sale-price-font;
                font-weight: 500;
                color: $secondary;
                margin-bottom: rem-calc(25);
                line-height: 1.1;

                @include breakpoint(small down){
                    font-size: $sale-price-font;
                }
            }
        }
        .entry-content{
            margin-top: rem-calc(20);
        }
    }

    &.blog-single{
        h1{
            line-height: 1.1;
        }

        .entry-content{

            &__img{
                text-align: center;
                margin-bottom: rem-calc(30);
            }

            a{
                color: $red;
                transition: .2s ease-in-out;

                &:hover{
                    color: $secondary;
                }
            }
        }
    }
}
