.archive-author-taxonomy{

    .authors{

        &__item-img{
            display: block;
            height: 18vw;
            overflow: hidden;
            position: relative;

            @include breakpoint(medium down){
                height: 40vw;
            }

            @include breakpoint(small down){
                height: 85vw;
            }

            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
                filter: contrast(100%) blur(0.1px) brightness(100%);
                transition: filter .6s ease-in-out;
            }

            p{
                margin: 0;
                position: absolute;
                left: 0;
                bottom: 0;
                color:$white;
                padding: 0 10% rem-calc(30);
                opacity: 0;
                filter: blur(5px);
                transition: opacity .3s ease-in-out, filter .7s ease-in-out;
            }

            &:hover{

                img{
                    filter: contrast(200%) blur(5px) brightness(40%);
                }

                p{
                    opacity: 1;
                    filter: blur(0.1px);
                }
            }
        }

        &__item-name{
            font-size: rem-calc(26);
            font-weight: 700;
            line-height: 1;
            margin:{
                top:rem-calc(20);
                bottom:rem-calc(45);
            }
        }
    }
}

.author{

    &__text{
        padding-top:rem-calc(55);

        h2{
            font-size: $section-head-font;
            font-weight: 700;
            line-height: 1;
            margin-bottom:rem-calc(30);

            @include breakpoint(small down){
                font-size: $post-head-font;
            }
        }
    }

    &__img{
        position: relative;
    }
}
