.footer{
    background: $primary;

    &__top{
        text-align:center;
        padding:rem-calc(27 0);
        border-bottom: solid rem-calc(1) $secondary;

        @include breakpoint(small down){
            margin:0 auto;
            // padding:rem-calc(20 0);
            max-width: 80%;
        }
    }

    &__bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: rem-calc(23 0);

        @include breakpoint(small down){
            flex-direction: column-reverse;
            justify-content: center;
            padding-top: rem-calc(10);
            padding-bottom: rem-calc(10);
        }

        p, ul li a{
            color: $black;
            font-weight: 300;
            font-size: $footer-font;
        }

        p{
            margin: 0;

            @include breakpoint(small down){
                text-align: center;
                margin-bottom: rem-calc(15);
            }
        }

        ul li a{
            text-transform: uppercase;
            font-weight: 300;
            border-bottom: solid rem-calc(1) transparent;
            position: relative;
            padding-left: 0;
            padding-right: 0;
            margin-left: rem-calc(16);
            margin-right: rem-calc(16);

            position: relative;

            &::after{
                content: "";
                position: absolute;
                bottom: -2px;
                width: 0;
                height: 1px;
                background: $black;
                opacity: 1;
                left: 0;
                transition: .1s ease-in-out;
            }

            &:hover{

                &::after{
                    width: 100%;
                    opacity: 1;
                }
            }
        }

        nav{

            @include breakpoint(small down){
                margin-bottom: rem-calc(10);
            }
        }
    }

    .menu .active>a, .menu .is-active>a{
        background-color: transparent;
        color: $black;
    }
}
