@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// variables
$product-title-font: rem-calc(55);
$section-head-font: rem-calc(44);
$post-head-font: rem-calc(38);
$login-head-font: rem-calc(30);
$post-author-head-font: rem-calc(28);
$sale-price-font: rem-calc(22);
$body-font-size: rem-calc(16);
$footer-font: rem-calc(14);
$feature-font: rem-calc(12);
$body-font-family: 'Montserrat', sans-serif;

$primary: #F5F5F5;
$red: #C70000;
$secondary:#707070;
$green: #067C25;
$orange: #FF8800;

$reveal-overlay-background: rgba(255,255,255,0.9);

body{
    font-family: $body-font-family;
    font-size: $body-font-size;
    font-weight: 300;
    position: relative;
}

a{
    color: #767676;

    &:hover{
        color: $red;
    }
}

.home .content,
.archive .article-header,
.blog .article-header,
.single .article-header,
.archive-author-taxonomy .article-header,
.custom-template .article-header,
.woocommerce-page .article-header,
.search .archive-title{
    @include breakpoint(large down){
        margin-top: rem-calc(90)!important;
    }
}

textarea:focus, input:focus, a:focus, button:focus{
    outline: none;
}

.grid-container{
    max-width: $global-width;
}

.show-for-xlarge{
    @include show-for(xlarge);
}

.hide-for-xlarge{
    @include hide-for(xlarge);
}

.section-main{
    margin-top: rem-calc(30);
    margin-bottom: rem-calc(69);
}

h1, h2, h3, h4, h5, h6,
p, a, span, ul, li{
    font-family: $body-font-family;
}

#breadcrumbs{
    text-align: center;
    text-transform: uppercase;
    color: #767676;
    font-size: $feature-font;

    @include breakpoint(small down){
        display: none;
    }

    a{
        color: #767676;

        &:hover{
            color: $black;
        }
    }

    .breadcrumb_last{
        font-weight: 500;
    }
}

.article-header{
    text-align: center;
    text-transform: uppercase;
    margin-top: rem-calc(20);

    @include breakpoint(small down){
        text-align: left;
        margin-left: rem-calc(10);
    }

    h1{
        font-size: $section-head-font;
        font-weight: 300;

        @include breakpoint(small down){
            font-size: $login-head-font;
        }
    }
}

.post-header{
    margin-bottom: rem-calc(20);

    h2{
        font-size: $section-head-font;
        line-height: 1.2;
        text-transform: uppercase;
    }
}

.entry-content{
    margin:{
        top:rem-calc(65);
        bottom:rem-calc(60);
    }
}

.product-post-main{
    display: flex;

    @include breakpoint(medium down){
        margin-bottom: rem-calc(60);
    }

    @include breakpoint(small down){
        flex-direction: column;
    }

    &__img{
        width: rem-calc(180);
        margin-right: rem-calc(30);

        @include breakpoint(small down){
            width: 60%;
            margin-right: 0;
        }

        @include breakpoint(rem-calc(400) down){
            width: 100%;
            margin-right: 0;
        }
    }

    &__img-link{
        display: block;
        height: rem-calc(245)
    }

    &__img-item{
        object-fit: cover;
        width: auto;
        height: 100%;
    }

    &__icons{
        margin-top: rem-calc(28);
        display: flex;
        justify-content: center;
        align-items: center;

        @include breakpoint(small down){
            justify-content: flex-start;
        }

        a{
            display: block;
            padding: rem-calc(0 10);
            margin: rem-calc(0 7);
            transform: scale(1);
            transition: .2s ease-in-out;

            &:hover{
                transform: scale(1.05);
            }
        }
    }

    &__text{
        width: calc(100% - 180px);
        margin-top: rem-calc(58);

        @include breakpoint(small down){
            width: 100%;
            margin-top: rem-calc(30);
        }
    }

    &__title{

        h3{
            font-size: $post-head-font;
            font-weight: bold;
            margin-bottom: rem-calc(10);
            line-height: 1;

            a{
                color: $black;
                transition: .2s ease-in-out;

                &:hover{
                    color: $red;
                }
            }

            @include breakpoint(small down){
                font-size: $login-head-font;
            }
        }
    }

    &__author{

        h4{
            font-size: $post-author-head-font;
            font-weight: 500;
            color: $secondary;
            margin-bottom: rem-calc(25);
            line-height: 1.1;

            @include breakpoint(small down){
                font-size: $sale-price-font;
            }
        }
    }
}

.button-underline{
    font-size: rem-calc(12);
    font-weight: bold;
    color: $red;
    padding-bottom: rem-calc(7);
    padding-right: rem-calc(40);
    border-bottom: solid rem-calc(1) $red;
    position: relative;
    opacity: 1;
    transition: .3s ease-in-out;

    img{
        position: absolute;
        right: 0;
        top: 45%;
        transform: translateY(-50%);
        transition: .2s ease-in-out;
    }

    &:hover,
    &:focus{
        color: $red;
    }

    &:hover{
        color: $red;

        img{
            right: rem-calc(-10);
        }
    }
}

[type=color], [type=date], [type=datetime-local], [type=datetime], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=time], [type=url], [type=week], textarea{
    border-color: $secondary;
}

.page-navigation{

    .pagination .current{
        background-color: $red;
    }

    .pagination li{
        margin-right: rem-calc(5);
    }

    .pagination li a{
        transition: all .2s ease-in-out;

        &:hover{
            background-color: $red;
            color: $white;
        }

        &.next, &.prev{

            &::after{
                content:'prev';
                font-family: swiper-icons;
                font-size: rem-calc(16);
                color:$red;
                text-transform: none!important;
                letter-spacing: 0;
                text-transform: none;
                font-variant: initial;
                line-height: 1;
            }

            &:hover{

                &::after{
                    color:$white;
                }
            }

            &.next{

                &::after{
                    content:'next';
                }
            }
        }
    }
}
.error404{
    .form-group{
        position: relative;
        display: inline-block;
        margin-bottom:rem-calc(20);
        img{
            position: absolute;
            right: rem-calc(2);
            bottom: rem-calc(8);
            transition: all .2s ease-in-out;
        }
        &:hover{
            img{
                right: rem-calc(-10);
            }
        }
    }
    .button-underline{
        background-color:transparent;
        padding-left: 0;
        margin-bottom: 0;
        padding-right: rem-calc(50);
    }
    .content-not-found footer{
        margin:rem-calc(50 0);
        a{
            color:$black;
            text-decoration: underline;
            transition:all .2s ease-in-out;
            &:hover{
                color:$red;
            }
        }
    }
}
