.header{

    @include breakpoint(large down){
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: $white;
        z-index: 99;
    }

    .logo-mobile{
        display: none;

        @include breakpoint(small down){
            display: block;
        }
    }

    .logo-desktop{

        @include breakpoint(small down){
            display: none;
        }
    }

    .top-bar{
        padding-left:0;
        padding-right:0;
    }

    .top-bar, .top-bar ul{
        background-color: transparent;

        li{
            font-size: $footer-font;
            font-weight: 300;

            a{
                color: $black;
                text-transform: uppercase;
            }
        }
    }

    .top-bar-center{
        width: 100%;
        margin-left: rem-calc(40);
        margin-right: rem-calc(30);

        ul{
            display: flex;
            justify-content: space-between;

            li{

                a{
                    padding-left: rem-calc(11);
                    padding-right: rem-calc(11);
                    background-color: transparent;
                    transition: all .2s ease-in-out;

                    &::after{
                        content: '';
                        width: 0;
                        height: rem-calc(1);
                        display: block;
                        background: $black;
                        transition: all .2s ease-in-out;
                        position: relative;
                        bottom: rem-calc(-2);
                    }

                    &:hover::after {
                        width: 100%;
                    }
                }

                &.active{

                    a{

                        &::after{
                            background: $red;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    .top-bar-left{
        z-index: 99;
        flex: 0 0 auto;

        @include breakpoint(small down){
            flex: 1 1 auto;
            margin-right: auto;
        }

        .menu{

            a{
                padding-left: 0;
                padding-right: 0;
            }
        }
    }

    .top-bar-right{
        z-index: 99;

        @include breakpoint(large down){
            margin-right: rem-calc(12);
        }

        @include breakpoint(small down){
            flex: 0 1 auto;
            margin-left: auto;
        }
    }

    .top-bar-right-mobile{
        z-index: 99;

        .menu{
            margin-left: rem-calc(35);
            background-color: transparent;
            position: relative;
            right: rem-calc(10);

            button{

                &::after{
                    background: $black;
                    box-shadow: 0 7px 0 $black, 0 14px 0 $black;
                }
            }
        }
    }

    &__icons{
        margin-right: rem-calc(-12);

        ul{
            display: flex;
            align-items: center;
            list-style: none;
            margin: 0;

            li{
                margin-left: rem-calc(4);
                margin-right: rem-calc(4);
                border-radius: 100%;
                background-color: $white;
                width: rem-calc(35);
                height: rem-calc(35);
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all .2s ease-in-out;
                transition-delay: .1s;

                &.account-item{
                    position: relative;

                    a:not(.menu-logout-url){
                        padding-left: rem-calc(7);
                    }

                    .menu-logout-url{
                        font-weight: bold;
                        position: absolute;
                        top: 130%;
                        left:55%;
                        transform: translateX(-50%);
                        opacity: 0;
                        transition: all .2s ease-in-out;
                        transition-delay: .1s;

                        &:hover{
                            text-decoration: underline;
                        }
                    }

                    &:hover{

                        .menu-logout-url{
                            opacity: 1;
                        }
                    }
                }

                &.basket-item{
                    position: relative;

                    .pub-cart-count{
                        position: absolute;
                        top: rem-calc(-3);
                        left:auto;
                        right: rem-calc(-3);
                        border-radius: 100%;
                        background: $green;
                        color: $white;
                        font-weight: bold;
                        font-size: $feature-font;
                        line-height: 1;
                        width: rem-calc(17);
                        padding-top:rem-calc(1);
                        padding-left:rem-calc(1);
                        height: rem-calc(17);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                a{
                    padding-left: rem-calc(6);
                    padding-right: rem-calc(6);
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    svg, path, line, circle {
                        transition: all .2s ease-in-out;
                    }
                }

                &:hover{
                    background-color: $red;

                    svg {
                        transform: scale(0.8);
                    }
                }
            }
        }

        .logged-in &{

            li.account-item{
                background-color: $red;
            }
        }
    }

    &__search{
        position: relative;
    }
}

.reveal-overlay{
    @include reveal-overlay($reveal-overlay-background);
}

.reveal{
    background-color: transparent;
    border:0;

    @include breakpoint(small down){
        height: 100vh;
        padding-top: rem-calc(200);
    }

    .search-form{

        ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: $secondary;
            text-transform: lowercase;
            font-size: $product-title-font;
        }
        ::-moz-placeholder { /* Firefox 19+ */
            color: $secondary;
            text-transform: lowercase;
            font-size: $product-title-font;
        }
        :-ms-input-placeholder { /* IE 10+ */
            color: $secondary;
            text-transform: lowercase;
            font-size: $product-title-font;
        }
        :-moz-placeholder { /* Firefox 18- */
            color: $secondary;
            text-transform: lowercase;
            font-size: $product-title-font;
        }

        @include breakpoint(small down){

            ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                color: $secondary;
                text-transform: lowercase;
                font-size: $login-head-font;
            }
            ::-moz-placeholder { /* Firefox 19+ */
                color: $secondary;
                text-transform: lowercase;
                font-size: $login-head-font;
            }
            :-ms-input-placeholder { /* IE 10+ */
                color: $secondary;
                text-transform: lowercase;
                font-size: $login-head-font;
            }
            :-moz-placeholder { /* Firefox 18- */
                color: $secondary;
                text-transform: lowercase;
                font-size: $login-head-font;
            }
        }
    }

    .close-button{
        position: fixed;
        top: 1rem;
        right: 2.5rem;
        font-size: 5em;
        transition: all .2s ease-in-out;
    }

    .search-field{
        border-radius: rem-calc(50);
        height: rem-calc(100);
        border:solid rem-calc(3) $black;
        padding-left: rem-calc(40);
        padding-right: rem-calc(100);
        font-size: rem-calc(55);

        @include breakpoint(small down){
            height: rem-calc(60);
            font-size: $login-head-font;
        }
    }

    .search-submit, svg{
        margin:0;
        position: absolute;
        top:rem-calc(3);
        right: rem-calc(3);
        height: rem-calc(94);
        width: rem-calc(100);
        border:{
            top-right-radius: rem-calc(50);
            bottom-right-radius: rem-calc(50);
        }
        z-index: 0;

        @include breakpoint(small down){
            height: rem-calc(54);
            width: rem-calc(70);
        }
    }

    .search-submit{
        background-color: transparent;
        z-index: 1;

        &:hover + svg{
            transform: scale(.95);

            circle,line{
                stroke: gray;
            }
        }
    }

    svg{
        width: rem-calc(50);
        right: rem-calc(25);
        transform: scale(1);

        @include breakpoint(small down){
            width: rem-calc(35);
        }
    }

    svg,circle,line{
        transition: all .2s ease-in-out;
    }
}

.search{

    .section-main{
        margin-top:rem-calc(70);
    }

    article{
        margin-bottom: rem-calc(30);
    }

    .archive-title{
        text-align: center;
        text-transform: uppercase;
        margin-top: rem-calc(20);
        font-size: $section-head-font;
        font-weight: 300;

        @include breakpoint(small down){
            font-size: rem-calc(33);
        }
    }

    .article-header{
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        flex-wrap: wrap;

        h2{
            line-height: 1.4;
            margin: 0;

            a{
                display: block;
                color: $red;
                font-weight: 300;
                font-size: $body-font-size;
                line-height: 1.4;
            }
        }

        p{
            color: $black;
            line-height: 1.4;
            margin:0;
            margin-left: rem-calc(5);
            text-align: left;
        }
    }

    .post-not-found{

        .entry-content{
            margin: rem-calc(30 0);
        }

        .form-group{
            position: relative;
            display: inline-block;
            margin-bottom:rem-calc(20);

            img{
                position: absolute;
                right: rem-calc(2);
                bottom: rem-calc(8);
                transition: all .2s ease-in-out;
            }

            &:hover{

                img{
                    right: rem-calc(-10);
                }
            }
        }

        .button-underline{
            background-color:transparent;
            padding-left: 0;
            margin-bottom: 0;
            padding-right: rem-calc(50);
        }
    }
}

.search-form-clear{
    display: none;
}

@mixin menu-button($left, $top, $width, $height) {
    position: absolute;
    width: $width;
    height: $height;
    top: $top;
    left: $left;
    transition-duration: 0.5s;
}

@mixin icon($height, $width) {
    transition-duration: 0.5s;
    position: absolute;
    height: $height;
    width: $width;
    top: 50%;
    background-color: $black;
}

@mixin icon-before($height, $width, $top) {
    transition-duration: 0.5s;
    position: absolute;
    width: $width;
    height: $height;
    background-color: $black;
    content: "";
    top: $top;
}

@mixin icon-after($height, $width, $top) {
    transition-duration: 0.5s;
    position: absolute;
    width: $width;
    height: $height;
    background-color: $black;
    content: "";
    top: $top;
}

.ham-menu-button{
    cursor: pointer;

    @include menu-button(rem-calc(-15), rem-calc(-12), rem-calc(22), rem-calc(22));

    .icon {
        @include icon(rem-calc(3), rem-calc(22));

        &:before{
            @include icon-before(rem-calc(3), rem-calc(22), rem-calc(-8));
        }

        &:after{
            @include icon-after(rem-calc(3), rem-calc(22), rem-calc(8));
        }
    }

    &.open {

        .icon {
            transition-duration: 0.5s;
            background: transparent;

            &:before{
                transform: rotateZ(45deg) scaleX(1.25) translate(rem-calc(5), rem-calc(5));
                background-color: $red;
            }

            &:after{
                transform: rotateZ(-45deg) scaleX(1.25) translate(rem-calc(5), rem-calc(-5));
                background-color: $red;
            }
        }
    }
}
