.escape .hero{
    display: block;
}
.hero{

    height: 100vh;
    transform: translateY(0);
    transition: 1s cubic-bezier(.96,.16,.38,.47);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
    display: none;

    &__container{
        height: 100%;
        background-color: $black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: rem-calc(80 0 160);
        overflow-x: hidden;

        @include breakpoint(medium down){
            padding: rem-calc(40 15 70);
        }
    }

    h1{
        opacity: 0;
        -webkit-background-clip: text;
        background-image: radial-gradient(closest-side,#fff 78%,transparent 0);
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: 200vw 200vw;
        color: $black;
        font-size: rem-calc(80);
        font-weight: 500;
        line-height: 1.1;
        transition: color 1s cubic-bezier(.19,1,.22,1), opacity 1s cubic-bezier(.19,1,.22,1), background-size 3s cubic-bezier(.19,1,.22,1), background-position 0.25s cubic-bezier(.19,1,.22,1);

        @include breakpoint(medium down){
            text-align: center;
            font-size: rem-calc(60);
        }

        @include breakpoint(small down){
            font-size: rem-calc(40);
        }

        &.active{
            color: hsla(0,0%,100%,.08);
            background-size: rem-calc(300 300);
            background-position: 50%;
            opacity: 1;
        }
    }

    .button-underline{
        transition: .9s cubic-bezier(.96,.16,.38,.47);
    }
}
