.home-slider{
    background: $primary;
    padding: rem-calc(66 0);
    margin-top: 0;

    &__img-slide{
        max-width:rem-calc(280);
        margin: auto;
        position: relative;

        @include breakpoint(small down){
            padding: rem-calc(0 30);
        }

        &::before{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            transition: .5s all ease-in-out;
        }
    }

    &__img{
        padding: rem-calc(0 30);

        @include breakpoint(large down){
            padding: rem-calc(0 1);
        }

        .swiper-slide:not(.swiper-slide-active){

            .home-slider__img-slide::before{
                background-color: $white;
            }
        }
    }

    &__text-content{
        padding-bottom: rem-calc(5);
        opacity: 0;
        transition: 1s all ease-in-out;

        h2{
            font-size: $product-title-font;
            font-weight: bold;
            line-height: 1;
            margin-bottom: rem-calc(50);

            @include breakpoint(medium down){
                font-size: $post-head-font;
            }

            @include breakpoint(small down){
                font-size: $login-head-font;
                margin-bottom: rem-calc(25);
            }
        }
    }

    &__text{
        padding: rem-calc(0 40);

        @include breakpoint(medium down){
            margin-top:rem-calc(30);
        }

        @include breakpoint(small down){
            padding: 0;
        }

        .swiper-slide-active{

            .home-slider__text-content{
                opacity: 1;
            }
        }
    }

    .swiper-button-next, .swiper-button-prev{
        color: $red;

        &::after{
            font-size: rem-calc(20);
        }
    }

    .swiper-button-next{
        right: rem-calc(25);

        @include breakpoint(rem-calc(400) down){
            right: 0;
        }
    }

    .swiper-button-prev{
        left: rem-calc(25);

        @include breakpoint(rem-calc(400) down){
            left: 0;
        }
    }
}

.home-about{

    &__img{
        padding-right: rem-calc(20);

        @include breakpoint(medium down){
            padding-right: 0;
        }

        @include breakpoint(small down){
            margin-bottom: rem-calc(30)
        }
    }

    &__text{
        margin-left:rem-calc(20);
    }

    .align-middle{

        @include breakpoint(medium down){
            align-items: flex-start;
        }
    }
}
