.off-canvas{
    background-color: rgba(245,245,245,0.9);

    &.position-right{
        top: rem-calc(86);
        width: 100%;
        transition: transform 1s ease-in-out;
    }

    &.is-transition-overlap.is-open{
        box-shadow: none;
    }

    .menu.vertical{
        text-align: center;
        margin: rem-calc(25 0);
        margin-bottom: rem-calc(5);

        li{
            padding: rem-calc(4 0);

            a{
                color: $black;
                outline: 0;
                text-transform: uppercase;
                font-weight: 400;
                transition: background .2s ease-in-out, color .2s ease-in-out;

                &:hover{
                    background:$red;
                    color:$white;
                }
            }

            &.active a{
                background:$red;
                color:$white;
            }
        }
    }

    .header__icons ul{
        justify-content: center;
    }

    .header__icons ul li{
        background-color: transparent;

        &:hover{
            background-color: $red;
        }
    }
}

.position-right{
    transform: translateX(100%);
}
