.page{

    &__main-info{
        margin-bottom:rem-calc(80);
    }

    &__main-info-img{
        height: 100%;

        img{
            object-fit: cover;
            height: 100%;
            width:100%;

            @include breakpoint(medium down){
                height: 50vw;
            }
        }
    }

    &__main-info-text{
        background-color: $primary;
        height: 100%;
        padding:{
            top:rem-calc(55);
            left:rem-calc(65);
            bottom:rem-calc(20);
            right:rem-calc(20);
        };

        @include breakpoint(medium down){
            padding:{
                top:rem-calc(45);
                left:rem-calc(20);
                bottom:rem-calc(20);
                right:rem-calc(20);
            };
        }

        header{
            color:$red;

            h3{
                font-size: $sale-price-font;
                font-weight: 300;
            }
        }
    }

    &__main-info-cols{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin:{
            top: rem-calc(30);
            left:rem-calc(20);
            bottom:rem-calc(40);
        }

        @include breakpoint(small down){
            flex-direction: column;
        }

        a{
            color: $black;

            &:hover{
                text-decoration: underline;
            }
        }

        p{
            margin:0;
            position: relative;

            @include breakpoint(small down){
                margin-top:rem-calc(20);
            }

            img{
                position: absolute;
                left: rem-calc(-25);
                top:rem-calc(1);
            }
        }

        p:first-child{
            margin-right: rem-calc(70);
        }
    }

    &__content-container{
        max-width: rem-calc(900);
        margin: auto;
    }
}
