.woocommerce-page{

    // WOOCOMMERCE GLOBAL
    div.product .stock{
        color: $green;
    }

    nav.woocommerce-pagination{
        text-align: left;

        ul, li{


            a{
                color:$black
            }
        }
    }

    nav.woocommerce-pagination ul{
        border:0;
    }

    nav.woocommerce-pagination ul li{
        margin: 0 5px;
        border:0;
        width: 28px;
        text-align: center;
    }

    nav.woocommerce-pagination ul li a:focus, nav.woocommerce-pagination ul li a:hover{
        transition: all .2s ease-in-out;
    }

    nav.woocommerce-pagination ul li a:focus, nav.woocommerce-pagination ul li a:hover, nav.woocommerce-pagination ul li span.current{
        background-color: $red;
        color: $white;
    }

    // EXCLAMATION MARK
    // div.product.sale div.images.woocommerce-product-gallery a,
    // li.product.sale{
    //     position: relative;
    //
    //     &::before{
    //         content:'';
    //         position: absolute;
    //         left: rem-calc(-30);
    //         top:rem-calc(200);
    //         width:rem-calc(50);
    //         height: rem-calc(80);
    //         background-image: url('../images/exclamation-mark.svg');
    //         background-size: contain;
    //         background-repeat: no-repeat;
    //     }
    // }

    li.product.sale{

        @include breakpoint(medium down){

            img{
                margin-left:rem-calc(35);
            }

            &::before{
                left: 0;
            }
        }
    }

    div.product.sale div.images.woocommerce-product-gallery a{

        &::before{
            top: rem-calc(36);
            left: auto;
            right: rem-calc(-60);
        }
    }

    &.logged-in{

        &.woocommerce-page.woocommerce-checkout .woocommerce .login-form-container{
            padding-bottom:0;
        }
    }

    .woocommerce-error{

        a{
            color: $red;

            &:hover{
                text-decoration: underline;
            }
        }
    }

    .order-again .button-underline{
        border-bottom: solid rem-calc(1) $red;
        padding-left:0;
        font-size: $footer-font;
        padding-bottom:rem-calc(10);
    }

    .cart-discount{

        th{
            padding-bottom:rem-calc(20);
        }

        .woocommerce-remove-coupon{
            color:$red;
            font-size: rem-calc(20);
            font-weight: 800;
            border-radius: 0;
            background-color: $primary;
            width: auto;
            height: auto;
            padding: rem-calc(2 8);
            transition: all .2s ease-in-out;

            &:hover{
                color:$black;
            }
        }
    }

    .woocommerce-shipping-methods,
    .woocommerce-checkout-payment-gateways,
    .woocommerce-terms-and-conditions-wrapper{

        .form-group{
            display: inline-block;
            position: relative;
            width: rem-calc(20);
            height: rem-calc(20);

            input[type="radio"],
            input[type="checkbox"]{
                position: absolute;
                left: 0;
                top: 0;
                min-width: 1em;
                width: 100%;
                height: 100%;
                z-index: 2;
                opacity: 0;
                margin: 0;
                padding: 0;
                cursor: pointer;
            }

            span{

                &::before,
                &::after{
                    content: '';
                    width: rem-calc(16);
                    height: rem-calc(16);
                    display: block;
                    box-sizing: border-box;
                    border-radius: 100%;
                    border: rem-calc(1) solid transparent;
                    z-index: 0;
                    position: absolute;
                    left: 0;
                    top: rem-calc(5);
                    background-color: transparent;
                }

                &::before{
                    border-color: $secondary;
                }

                &::after{
                    width: rem-calc(10);
                    height: rem-calc(10);
                    border:0;
                    left:rem-calc(3);
                    top:rem-calc(8);
                }
            }

            input[type="radio"]:checked~span::after,
            input[type="checkbox"]:checked~span.checkmark::after{
                background-color: $red;
            }
        }
    }

    .woocommerce-terms-and-conditions-wrapper,
    .woocommerce-form-register .privacy{
        margin-bottom: rem-calc(40);

        .form-group{
            position: absolute;
            top: rem-calc(4);
        }

        span.checkmark{
            cursor: pointer;

            &::before,
            &::after{
                content: '';
                width: rem-calc(19);
                height: rem-calc(19);
                display: block;
                box-sizing: border-box;
                border-radius: 0;
                border: rem-calc(1) solid transparent;
                z-index: 0;
                position: absolute;
                left: 0;
                top: rem-calc(5);
                background-color: $white;
                cursor: pointer;
            }

            &::before{
                border-color: $secondary;
            }

            &::after{
                width: 6px;
                height: 13px;
                border: 0;
                transform: rotate(45deg) translateX(6px) translateY(-3px)
            }
        }

        input[type="checkbox"]:checked~span.checkmark::after{
            background-color: transparent!important;
            border-bottom: 2px solid $secondary;
            border-right: 2px solid $secondary;
        }

        p.form-row{
            padding-left:0;
            padding-right:0;
        }

        .form-row.woocommerce-invalid label{
            color:$black;

            span.checkmark::before{
                border: rem-calc(2) solid $red;
            }
        }

        .woocommerce-terms-and-conditions-checkbox-text{
            text-transform: none;
            display: inline-block;
            line-height: 1.4;
            margin-left: rem-calc(30);
        }
    }

    .woocommerce-terms-and-conditions-wrapper{

        @include breakpoint(small down){
            margin-bottom:rem-calc(60);
        }
    }

    .woocommerce-form-register .privacy{

        span.checkmark{

            &::before,
            &::after{
                top: 0;
            }
        }
    }

    .woocommerce-LostPassword,
    .lost_password{
        text-align: center;
        text-transform: lowercase;
        text-decoration: underline;
        margin-top:rem-calc(35);
        margin-bottom:rem-calc(75);

        a{
            color: $black;
            font-size: $footer-font;
            transition:all .2s ease-in-out;

            &:hover{
                color:$red;
            }
        }
    }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $secondary;
        text-transform: lowercase;
        font-size: $feature-font;
    }
    ::-moz-placeholder { /* Firefox 19+ */
        color: $secondary;
        text-transform: lowercase;
        font-size: $feature-font;
    }
    :-ms-input-placeholder { /* IE 10+ */
        color: $secondary;
        text-transform: lowercase;
        font-size: $feature-font;
    }
    :-moz-placeholder { /* Firefox 18- */
        color: $secondary;
        text-transform: lowercase;
        font-size: $feature-font;
    }

    a.button-underline,
    button.button-underline,
    button.button.select-paczkomat-button{
        font-size: rem-calc(12);
        font-weight: bold;
        color: $red;
        padding-bottom: rem-calc(7);
        padding-right: rem-calc(40);
        border-bottom: solid rem-calc(1) $red;
        position: relative;
        opacity: 1;
        transition: .3s ease-in-out;
        text-transform: lowercase;
        background: transparent;
        border-radius: 0;
        border:0;

        &:hover{
            background: transparent;
            color: $red;
        }
    }

    button.button.select-paczkomat-button{
        font-size: rem-calc(14);
        padding-right: rem-calc(12);
        margin-right: rem-calc(-12);

        &:hover{
            text-decoration: underline;
        }
    }

    #selected-paczkomat{
        font-size: rem-calc(14);
        font-weight: 400;
        line-height: 1.6;
    }

    .woocommerce-EditAccountForm,
    .woocommerce-address-fields{

        .edit-account-btn{
            text-align: right;
        }

        .edit-account-btn .button,
        .edit-account-btn .button-underline{
            text-transform: lowercase;
            font-weight: 700;
            font-size: $sale-price-font;
            color:$red;
            background-color: transparent;
            padding-right: rem-calc(80);
            padding-bottom:rem-calc(15);
            padding-left:0;
            border-bottom: solid rem-calc(1) $red;
            border-radius: 0;
        }
    }

    .woocommerce-customer-details,
    .woocommerce-Addresses{

        .woocommerce-column address, address{
            border:0;
            border-left:solid rem-calc(1) $red;
            border-radius: 0;
            padding: rem-calc(6 12);
            padding-top:0;
            padding-bottom: rem-calc(20);
            font-style: normal;
            position: relative;

            @include breakpoint(rem-calc(768) down){
                margin-bottom: rem-calc(40);
            }

            a{
                position: absolute;
                left: auto;
                top: 0;
                right: 0;
                margin: rem-calc(6 12);
                text-transform: lowercase;
                color:$red;
                font-weight: 700;
                text-decoration: none;
                transition: all .3s ease-in-out;

                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }

    .woocommerce form{

        .form-row{

            label{
                font-size:$feature-font;
                text-transform: lowercase;
            }

            input, textarea{
                font-size:$footer-font;
                border:0;
                border-bottom: 1px solid $secondary;
                box-shadow:none;

                &:focus{
                    border-bottom: 1px solid $red;
                }
            }
        }
    }

    form .form-row .required{
        color: $red;
    }

    .woocommerce-message{
        display: none!important;
    }

    .woocommerce .quantity .qty::-webkit-inner-spin-button,
    .woocommerce .quantity .qty::-webkit-inner-spin-button{
        -webkit-appearance: none;
    }

    .cart-empty.woocommerce-info{
        border-top-color: $secondary;
        color:$red;
        text-transform: uppercase;
        padding-left: rem-calc(20);

        &::before{
            content:none;
        }
    }

    .return-to-shop {

        a{
            font-size: rem-calc(20);
        }
    }

    ul.products li.product{
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @include breakpoint(small down){
            width: 100%!important;
            float: none!important;
            margin-bottom: rem-calc(60)!important;
        }

        img.attachment-woocommerce_single{
            height: rem-calc(269);
            width: auto;
        }

        h2.woocommerce-loop-product__title{
            font-weight: bold;
            font-size: rem-calc(26);
            text-align: left;
            line-height: 1.1;
            text-transform: none;
            margin-bottom: 0;
            padding-bottom: rem-calc(5);

            a{
                color: $black;
                transition: .2s ease-in-out;

                &:hover{
                    color: $red;
                }
            }

            @include breakpoint(small down){
                font-size: rem-calc(30);
            }
        }

        p{
            font-size: rem-calc(18);
            font-weight: 500;
            color: $secondary;
            margin-bottom: 0;

            @include breakpoint(small down){
                font-size: rem-calc(20);
            }
        }

        span.price{
            line-height: 1;
            font-size: $sale-price-font;
            color: $secondary;
            font-weight: 900;

            @include breakpoint(small down){
                font-size: rem-calc(30);
            }

            ins{
                color: $red;
                font-weight: 900;
                text-decoration: none;
            }

            del{
                font-weight: bold;
                font-size: $body-font-size;
                color: $secondary;

                @include breakpoint(small down){
                    font-size: $sale-price-font;
                }
            }
        }

        .product-post-main__icons{
            margin-top:rem-calc(15);
            margin-left: rem-calc(-14);
            margin-bottom: rem-calc(7);

            .added_to_cart{
                display: none;
            }

            .button{
                padding:0;
                margin:0;
                background-color: transparent;
                position: relative;

                &::after{
                    color: $green;
                    position: absolute;
                    right: rem-calc(-50);
                    top: rem-calc(-3);
                    font-size: $post-author-head-font;
                }
            }

            .button:not(.add_to_cart_button){
                display: none;
            }

            a{
                margin-right: rem-calc(15);
            }
        }

        a.button-underline{
            display: inline-block;

            img{
                width: auto;
            }
        }
    }

    .upsell-title{
        text-align: center;
        text-transform: uppercase;
        margin-bottom: rem-calc(40);
        font-size: $section-head-font;
        font-weight: 200;

        @include breakpoint(small down){
            font-size: $login-head-font;
        }
    }

    .product{
        margin-top:rem-calc(65);
    }

    span.onsale{
        display: none;
    }

    .woocommerce-breadcrumb{
        margin:0;
        text-align: center;
        text-transform: uppercase;
        font-weight: 500;
        font-size: $feature-font;

        @include breakpoint(small down){
            display: none;
        }

        a{
            font-weight: 300;
        }

        a:hover{
            color:$black;
        }
    }

    .single-product-page-content-container{
        max-width: rem-calc(800);
        margin: auto;
    }

    .single-product-page{

        &__long-desc{
            margin:{
                bottom: rem-calc(50);
            };
            padding-top: rem-calc(10);
        }

        &__attr-container{

            @include breakpoint(medium down){
                margin-bottom:rem-calc(60);
            }

            p{
                margin-bottom: 0;
                line-height: 1;
            }

            span{
                font-weight: bold;
                line-height: 1;
                vertical-align: text-top;

                @include breakpoint(small down){
                    display: block;
                    margin-top:rem-calc(10);
                    margin-bottom:rem-calc(20);
                }
            }
        }

        &__delivery-container{
            display: flex;
            justify-content: space-between;

            @include breakpoint(rem-calc(450) down){
                flex-direction: column;
                align-items: flex-start;
            }
        }

        &__delivery-box{
            text-align: center;

            @include breakpoint(rem-calc(450) down){
                text-align: left;
            }

            p{
                font-size: $feature-font;
                font-weight: 700;
                color: $black;
            }
        }

        &__delivery-box-img{
            height: rem-calc(80);
        }
    }

    .cart-back-to-shop-link{
        margin-top: rem-calc(30);

        a{
            color: $red;
            font-size:$footer-font;
            font-weight:300;
            text-transform: uppercase;
        }
    }

    // SINGLE PRODUCT PAGE
    &.single-product{

        div.product .product_title{
            font-size: $product-title-font;
            font-weight:700;
            line-height: 1;
            margin:{
                top:rem-calc(50);
                bottom: rem-calc(10);
            }

            @include breakpoint(large down){
                font-size:$section-head-font;
            }

            @include breakpoint(small down){
                font-size: rem-calc(30);
            }
        }

        .author-container{
            font-size: $product-title-font;
            font-weight: 500;
            color: $secondary;
            margin-bottom: rem-calc(25);
            line-height: 1;

            @include breakpoint(large down){
                font-size:$section-head-font;
            }

            @include breakpoint(small down){
                font-size: rem-calc(20);
            }
        }

        div.product p.price, div.product span.price{
            color: $red;
            font-size: $section-head-font;
            font-weight: 900;
            margin-bottom: 0;

            @include breakpoint(small down){
                font-size: rem-calc(30);
            }

            ins{
                text-decoration: none;
                font-weight: 900;
            }

            del{
                font-size: $sale-price-font;
                color: $secondary;
                font-weight: 700;
                margin-left: rem-calc(5);
                opacity: 1;

                @include breakpoint(small down){
                    font-size: rem-calc(22);
                }
            }
        }

        div.product div.images.woocommerce-product-gallery{
            background-color: $primary;

            @include breakpoint(medium down){
                width: 40%;
            }

            @include breakpoint(rem-calc(768) down){
                width: 100%;
            }

            a{
                display: block;
                max-width: rem-calc(250);
                margin: auto;
                padding: rem-calc(40 0);
            }
        }

        div.product.sale div.images.woocommerce-product-gallery{

            a{

                @include breakpoint(rem-calc(400) down){
                    margin-left: auto;
                    margin-right:rem-calc(50);
                }
            }
        }

        div.product div.summary{

            @include breakpoint(medium down){
                width: 56%;
            }

            @include breakpoint(rem-calc(768) down){
                width: 100%;
            }

            .woocommerce-product-details__short-description{
                display: none;
            }
        }

        div.product form.cart{
            margin-top: 5vw;

            .button.button-underline{
                float: none;
                display: inline-block;
                font-size: rem-calc(21);
                font-weight: bold;
                color: $red;
                padding-bottom: rem-calc(7);
                padding-right: rem-calc(45);
                border-bottom: solid rem-calc(1) $red;
                position: relative;
                background-color: transparent;
                border-radius: 0;
                padding:{
                    left: 0;
                    top: rem-calc(10);
                };
                transition: all .2s ease-in-out;

                @include breakpoint(medium down){
                    font-size: rem-calc(18);
                }

                @include breakpoint(small down){
                    font-size: rem-calc(14);
                    margin-right:rem-calc(37);
                    margin-bottom:rem-calc(6);
                }

                &::after{
                    content:"";
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    height: rem-calc(24);
                    width: rem-calc(22);
                    background-size: contain;
                    background-image: url('../images/basket.svg');
                    background-repeat: no-repeat;
                }

                &:hover{
                    filter: grayscale(50%);
                }
            }

            .additional-fragment{
                margin-left: rem-calc(37);
                display: inline-block;
                transition: all .2s ease-in-out;

                @include breakpoint(small down){
                    margin-left: 0;
                    margin-top:rem-calc(15);
                }

                a{
                    font-size: rem-calc(21);
                    vertical-align: text-top;
                    line-height: 1;
                    color: $secondary;
                    padding:{
                        left: 0;
                        top: rem-calc(10);
                        right: rem-calc(40);
                    };
                    border-bottom-color: $secondary;

                    @include breakpoint(medium down){
                        font-size: rem-calc(18);
                    }

                    @include breakpoint(small down){
                        font-size: rem-calc(14);
                    }

                    &::after{
                        content:"";
                        position: absolute;
                        right: 0;
                        top: 62%;
                        transform: translateY(-50%);
                        height: rem-calc(24);
                        width: rem-calc(22);
                        background-size: contain;
                        background-image: url('../images/gray-arrow-down.svg');
                        background-repeat: no-repeat;
                    }
                }

                &:hover{
                    filter: brightness(50%);
                }
            }
        }

        .quantity{
            display: none;
        }
    }

    // Upsell
    .up-sells{
        margin-top: rem-calc(100);
        margin-bottom: rem-calc(40);
    }

    //ARCHIVE
    &.archive{

        .promo-banner{
            margin-bottom: rem-calc(70);
            display: block;
        }

        .shop-archive,.article-header{

            @include breakpoint(small down){
                margin: rem-calc(0 60);
            }

            @include breakpoint(rem-calc(400) down){
                margin: rem-calc(0 5);
            }
        }

        .article-header{

            @include breakpoint(small down){
                margin-top: rem-calc(20);
            }

            @include breakpoint(rem-calc(400) down){
                margin-top: rem-calc(20);
            }
        }

        .widget{

            .widgettitle{
                font-size: $login-head-font;
                font-weight: 300;
                color: $red;

                @include breakpoint(large down){
                    font-size: rem-calc(26);
                }

                @include breakpoint(medium down){
                    font-size: $login-head-font;
                }

                @include breakpoint(small down){
                    font-size: $sale-price-font;
                    cursor:pointer;
                    position: relative;
                    display: inline-block;

                    &::after{
                        content:'';
                        right: rem-calc(-20);
                        top: rem-calc(10);
                        position: absolute;
                        width: 0;
                        height: 0;
                        border-left: 4px solid transparent;
                        border-right: 4px solid transparent;
                        border-top: 8px solid $red;
                        transform: rotate(0);
                        transition: transform .5s ease-in-out;
                    }

                    &.active{

                        &::after{
                            transform: rotate(180deg);
                        }
                    }
                }
            }

            ul{
                margin:{
                    top: rem-calc(25);
                    left: rem-calc(2);
                }

                @include breakpoint(small down){
                    display: none;
                }

                li{
                    margin-bottom:rem-calc(18);
                    line-height: 1.2;

                    a{
                        font-size: $footer-font;
                        text-transform: uppercase;
                        color: $black;
                        font-weight: 300;
                        line-height: 1.2;
                        transition: all .2s ease-in-out;

                        &:hover{
                            color: $red;
                        }
                    }
                }
            }
        }
    }

    // CART
    &.woocommerce-cart{

        .woocommerce button[name="update_cart"],
        .woocommerce input[name="update_cart"] {
            display: none;

            @include breakpoint(medium down){
                display: none!important;
            }
        }

        .woocommerce table.shop_table,
        tbody, tfoot, thead,
        #add_payment_method table.cart td,
        #add_payment_method table.cart th,
        .woocommerce-cart table.cart td,
        .woocommerce-cart table.cart th,
        .woocommerce-checkout table.cart td,
        .woocommerce-checkout table.cart th,
        .woocommerce table.shop_table td,
        .woocommerce table.shop_table tbody th, .woocommerce table.shop_table tfoot td, .woocommerce table.shop_table tfoot th{
            border:0;
        }

        .woocommerce table.shop_table td:first-child,
        .woocommerce table.shop_table th:first-child{
            padding-left:0;
        }

        .woocommerce table.shop_table td:first-child,
        .woocommerce table.shop_table td:last-child{

            @include breakpoint(medium down){
                text-align: left!important;

                &::before{
                    content:none;
                }
            }
        }

        .woocommerce table.shop_table td:last-child{

            @include breakpoint(medium down){
                padding-bottom:rem-calc(30);
            }
        }

        .woocommerce table.shop_table td:first-child{

            @include breakpoint(medium down){
                padding-top:rem-calc(30);
                padding-bottom:rem-calc(30);
            }
        }

        .woocommerce table.shop_table td:nth-child(4),
        .woocommerce table.shop_table th:nth-child(4){
            padding-left:rem-calc(50);
            padding-right:rem-calc(50);

            @include breakpoint(medium down){
                padding-left:rem-calc(20);

                &::before{
                    margin-top:rem-calc(50);
                }
            }
        }

        .woocommerce table.shop_table td{
            padding-bottom: rem-calc(20);
            padding-top: rem-calc(20);

            @include breakpoint(medium down){
                display: block;
                text-align: right;
                padding-bottom: rem-calc(10);
                padding-top: rem-calc(10);

                &::before{
                    content: attr(data-title) ": ";
                    font-weight: 300;
                    float: left;
                    font-size:rem-calc(26);
                    line-height: 1;
                    text-transform: uppercase;
                    margin-right: rem-calc(15);
                    margin-bottom:rem-calc(10);
                }
            }

            @include breakpoint(small down){
                &::before{
                    font-size: $body-font-size;
                    line-height: 1.6;
                }
            }
        }

        .woocommerce table.shop_table thead{

            @include breakpoint(medium down){
                display: none;
            }
        }

        .woocommerce table.shop_table tr:last-child td{
            padding-bottom: 0;
            padding-top: 0;
        }

        thead,
        tbody tr:nth-child(2n){
            background-color: transparent;
        }

        table.cart{
            border-collapse: collapse;
            margin-bottom: 0;

            .product-name,
            .product-price,
            .product-quantity,
            .product-subtotal{
                font-size:$footer-font;
                font-weight:300;
                text-transform: uppercase;
            }

            .woocommerce-cart-form__cart-item{
                border-bottom: rem-calc(1) solid $secondary;

                td{
                    border-bottom:solid rem-calc(1) $primary;
                }

                .product-name{

                    h4{
                        font-size: rem-calc(26);
                        font-weight: bold;
                        line-height: 1;
                        text-transform: none;

                        @include breakpoint(small down){
                            font-size: $sale-price-font;
                        }
                    }

                    p{
                        font-size: rem-calc(18);
                        font-weight: 500;
                        color:$secondary;
                        text-transform: none;
                    }
                }

                .product-price,
                .product-subtotal{
                    font-size: rem-calc(26);
                    font-weight: bold;
                    text-transform: none;
                    line-height: 1;

                    @include breakpoint(small down){
                        font-size: $sale-price-font;
                    }
                }

                .product-thumbnail{

                    img{
                        width: auto;
                        max-width: rem-calc(116);

                        @include breakpoint(medium down){
                            max-width: 100%;
                        }
                    }
                }

                .product-remove{

                    a{

                        @include breakpoint(medium down){
                            display: inline-block;
                        }

                        color:$red!important;
                        font-size: rem-calc(26);
                        font-weight: bold;
                        border-radius: 0;
                        background-color: $primary;
                        width: auto;
                        height: auto;
                        padding: rem-calc(2 8 4);
                        transition: all .2s ease-in-out;

                        &:hover{
                            color:$black!important;
                        }
                    }
                }
            }
        }

        .woocommerce .quantity .qty{
            width: rem-calc(37);
            height: rem-calc(37);
            font-size: rem-calc(26);
            font-weight: bold;
            appearance: textfield;
            padding: 0;

            @include breakpoint(medium down){
                margin-left: auto;
            }

            @include breakpoint(small down){
                font-size: $sale-price-font;
            }
        }

        .product-quantity{
            min-width: rem-calc(1);

            .input-group-append,
            .input-group-prepend{

                @include breakpoint(medium down){
                    margin-right:rem-calc(5);
                }

                button{
                    cursor: pointer;
                    margin-left: rem-calc(4);
                    padding:rem-calc(6);
                    padding-bottom:rem-calc(8);
                    font-size: rem-calc(26);
                    font-weight: bold;
                    text-align: center;
                }
            }
        }

        .woocommerce .cart-collaterals{
            height: 100%;
            margin-left: rem-calc(20);
            width: auto;

            @include breakpoint(xlarge down){
                margin-left: 0;
            }

            tbody{
                background-color:$primary;
            }

            table.shop_table td:first-child,
            table.shop_table th:first-child{
                padding-left:rem-calc(30);

                @include breakpoint(small down){
                    padding-left:rem-calc(15);
                }
            }

            table.shop_table td,
            table.shop_table th{
                padding-top:rem-calc(20);
                padding-bottom:0;
                font-size: rem-calc(18);
                font-weight: 500;
            }

            table.shop_table td ul#shipping_method{
                @include breakpoint(xlarge down){
                    text-align: right;
                }
            }

            table.shop_table tr.fee{
                th,td{
                    padding-top: rem-calc(5);
                }

                td{
                    text-align: right!important;
                    padding-right: rem-calc(32);
                    font-size: rem-calc(16);
                }
            }

            table.shop_table td ul#shipping_method li{
                margin-bottom: 0;

                @include breakpoint(xlarge down){
                    padding-right:rem-calc(20);
                }

                @include breakpoint(small down){
                    padding-right:rem-calc(5);
                }
            }

            table.shop_table td label{
                font-size: $body-font-size;
                cursor: pointer;
            }

            table.shop_table td{
                font-weight: bold;
            }

            table.shop_table .woocommerce-shipping-totals td,
            table.shop_table .woocommerce-shipping-totals th{
                padding-top:rem-calc(5);
            }

            table.shop_table .woocommerce-shipping-totals td{
                padding-right: rem-calc(30);
                text-align: right;

                @include breakpoint(xlarge down){
                    padding-right:rem-calc(10);
                }
            }

            table.shop_table .order-total td,
            table.shop_table .order-total th{
                padding-bottom: rem-calc(25);
                text-transform: uppercase;
                color: $red;
            }

            table.shop_table tr.order-total td{
                padding-top:rem-calc(20);
                text-transform: none;
            }

            .cart_totals{
                float:none;
                width: auto;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                height: 100%;
                padding-bottom: 0;

                .cart-subtotal,
                .order-total,
                .cart-discount{

                    td{
                        text-align: right;
                        padding-right: rem-calc(30);

                        @include breakpoint(small down){
                            padding-right:rem-calc(15);
                        }
                    }
                }

                .cart-discount{

                    th{
                        padding-bottom:rem-calc(15);
                    }

                    td{
                        padding-right: rem-calc(24);
                        text-align: right!important;
                    }
                }

                th{
                    width: 32%;
                }

                // woocommerce coupon deleted

            }
        }

        .wc-proceed-to-checkout{
            padding-bottom: 0;

            @include breakpoint(xlarge down){
                margin-left: auto;
            }

            @include breakpoint(medium down){
                margin-left: 0;
                margin-right: auto;
                padding-top: rem-calc(30);
                padding-bottom:rem-calc(50);
            }

            .button-underline{
                display: inline-block;
                font-size:rem-calc(23);
                line-height: 1.3;
                padding-right:rem-calc(85);
                padding-bottom: rem-calc(10);
                border-bottom: solid rem-calc(1) $red;

                img{
                    top:78%;
                }
            }
        }
    }

    // CHECKOUT
    &.woocommerce-checkout{

        .checkout{
            display: flex;
            flex-direction: column-reverse;

            button.button.select-paczkomat-button{
                margin-left: rem-calc(-12);
            }

            .woocommerce-NoticeGroup-checkout{
                margin-top: rem-calc(70);

                li{
                    margin-bottom: rem-calc(15);
                }
            }

            .col-2{
                margin-bottom:rem-calc(50);

                .shipping-head{
                    display: none;
                }

                .woocommerce-shipping-methods,
                #shipping_method,
                .woocommerce-checkout-payment-gateways{
                    margin-bottom:rem-calc(30);

                    @include breakpoint(medium down){
                        margin-bottom:rem-calc(50);
                    }

                    li{
                        margin-bottom:0;
                    }

                    label{
                        font-size: $body-font-size;
                        margin-left: rem-calc(10);
                        display: inline;
                    }
                }

                #shipping_method{

                    .woocommerce-Price-amount{
                        display: none;
                    }
                }

                #payment{
                    background:transparent;
                    border-radius:0;

                    &.woocommerce-checkout-payment-gateways{

                        label{
                            margin-left: rem-calc(5);
                        }

                        ul{
                            padding:0;
                            border-bottom:0;

                            li{
                                line-height: 1;
                            }
                        }
                    }
                }

                .woocommerce-checkout-review-order{

                    h3, .shop_table, form{
                        padding-left: rem-calc(18);
                        padding-right: rem-calc(28);
                        background:$primary;
                    }

                    h3{
                        padding-top: rem-calc(18);
                        margin-bottom: 0;
                        padding-bottom: rem-calc(30);
                    }

                    .shop_table{
                        border:0;
                        border-radius:0;
                        border-collapse: collapse;

                        thead, tbody, tfoot, td, th{
                            background:$primary;
                            border:0;
                        }
                    }
                }
            }
        }

        .woocommerce-billing-fields,
        .woocommerce-shipping-fields,
        .woocommerce-additional-fields,
        .woocommerce-account-fields{
            margin-top: rem-calc(30);

            .form-row{
                float:none;
                width:100%;
                margin-bottom: rem-calc(10);
                padding: 0;
            }

            h3{
                margin-bottom:rem-calc(10);
            }

            label:not(.checkbox){
                display: none;
            }

            .accordion-arrow{
                z-index: 9;
            }
        }

        .woocommerce-billing-fields{

            p#billing_country_field{
                margin-top:rem-calc(25);
            }
        }

        .woocommerce-account-fields{
            opacity: 0;
            visibility: hidden;
            margin-top: 0;
            transition: all .4s ease-in-out;

            &.active{
                opacity: 1;
                visibility: visible;
            }

            @include breakpoint(medium down){
                padding-bottom:rem-calc(20);
            }

            .accordion{
                @include breakpoint(medium down){
                    padding-bottom:0;
                }
            }

            .create-account-custom{
                margin-top:rem-calc(20);

                @include breakpoint(medium down){
                    margin-top:0;
                    padding-top:rem-calc(20);
                }

                .form-row{

                    @include breakpoint(medium down){
                        margin-bottom:0;
                        padding-bottom:rem-calc(10);
                    }
                }
            }
        }

        form{

            .form-row{

                input, textarea{
                    font-size: $body-font-size;
                    padding-left:0;
                }
            }
        }

        .accordion{
            margin-bottom: rem-calc(20);

            @include breakpoint(medium down){
                margin-bottom:0;
                padding-bottom:rem-calc(20);
            }

            .accordion-item{
                position: relative;

                .accordion-arrow{
                    position: absolute;
                    top: rem-calc(23);
                    right:rem-calc(17);
                    transform-origin: center;
                    transition: all .2s ease-in-out;

                    @include breakpoint(large down){
                        right:rem-calc(10);
                        max-width: rem-calc(20);
                        top: rem-calc(27);
                    }

                    @include breakpoint(medium down){
                        top: rem-calc(23);
                        right:rem-calc(17);
                        max-width: 100%;
                    }

                    @include breakpoint(small down){
                        right:rem-calc(10);
                        max-width: rem-calc(15);
                    }
                }

                &.is-active{

                    .accordion-arrow{
                        transform: rotate(180deg);
                    }
                }
            }

            .accordion-title,
            .accordion-title:focus, .accordion-title:hover{
                background:$primary;
            }

            .accordion-title{
                border:0;
                font-size: $footer-font;
                color:$black;
                padding-left:rem-calc(35);
                padding-top:rem-calc(25);
                padding-bottom:rem-calc(25);

                @include breakpoint(large down){
                    padding-left:rem-calc(10);
                    padding-right:rem-calc(40);
                }

                @include breakpoint(medium down){
                    padding-left:rem-calc(35);
                    padding-right:rem-calc(16);
                }

                @include breakpoint(small down){
                    padding-left:rem-calc(15);
                    padding-right:rem-calc(40);
                    padding-top:rem-calc(20);
                    padding-bottom:rem-calc(20);
                }

                &::before{
                    content: none;
                }
            }

            .accordion-content{
                border:0;
                padding:0;
            }

            form{
                border-radius: 0;
                border:0;
                padding: 0;
                margin:0;
                margin-top: rem-calc(15);

                .form-row{
                    float:none;
                    width:100%;
                    margin-bottom: rem-calc(10);
                    padding: 0;
                }

                .form-row-last{
                    margin-bottom:rem-calc(50);
                }

                label{
                    display: none;
                }

                .lost_password{
                    text-align: right;
                    margin-bottom:rem-calc(50);
                }

                .button-underline{
                    border-bottom: solid rem-calc(1) $red;
                    padding-left: 0;
                    text-align: center;
                    float: none;
                    display: block;
                    margin-right:0;
                    margin-left: auto;
                }
            }
        }

        h3{
            font-size: $footer-font;
            text-transform: uppercase;
            color:$red;
            margin-bottom:rem-calc(30);

            strong{
                font-weight: 900;
            }
        }

        .woocommerce form.login,
        .woocommerce form.checkout_coupon{
            display: block!important;
        }

        .woocommerce form.checkout_coupon{
            opacity: 0;
        }

        .woocommerce{

            .grid-container{
                position: relative;
            }

            form.checkout,
            .woocommerce-checkout-review-order{
                position:static!important;
            }

            .col2-set .col-1,
            .login-form-container{
                width: 27%;

                @include breakpoint(medium down){
                    width: 100%;
                    float: none;
                }
            }

            .login-form-container{
                padding-bottom:rem-calc(20);

                @include breakpoint(medium down){
                    padding-bottom:0;
                }

                .accordion{
                    margin-bottom:0;
                }
            }
        }

        .woocommerce .col2-set .col-2{

            @include breakpoint(medium down){
                margin-top:0!important;
                padding-bottom:0!important;
                padding-top: rem-calc(30);
                float: none;
                width: 100%;
            }

            .col-2-abs-container{
                width: 67%;
                position:absolute;
                right: rem-calc(35);
                top:0;

                @include breakpoint(medium down){
                    width: 100%;
                    position:relative;
                    right: auto;
                    top:auto;
                }
            }

            #order_review_heading,
            #payment{
                position: absolute;
                top: 0;
                right: auto;
                left: 60%;

                @include breakpoint(small down){
                    position: static;
                }
            }

            #payment{
                top:rem-calc(50);
            }
        }

        .woocommerce-checkout-review-order-table{

            .shipping-total,
            .cart-subtotal,
            .order-total,
            .cart-discount,
            .fee{

                td{
                    font-weight: 300;

                    @include breakpoint(small down){
                        display: none;
                    }

                    &:last-child{

                        @include breakpoint(small down){
                            display: block;
                        }
                    }

                    &:last-child,
                    &:last-child bdi{

                        font-weight: 700;
                        font-size: rem-calc(18);
                    }
                }
            }

            .cart-discount{

                td{

                    &:last-child{
                        padding-right: rem-calc(13);
                    }
                }
            }

            .order-total{

                td{
                    color: $red;
                }
            }

            background: $primary;

            .cart_item{

                @include breakpoint(small down){
                    border-bottom:solid rem-calc(1) $secondary;
                }

                &:nth-child(3){

                    @include breakpoint(small down){

                        .product-name{
                            padding-top: rem-calc(20);
                        }
                    }
                }

                bdi{
                    font-size: rem-calc(18);
                }

                &:last-child{
                    position: relative;
                    border-bottom: solid rem-calc(1) $secondary;

                    &::after{
                        content:none;
                        position: absolute;
                        top:auto;
                        bottom:0;
                        left: 0;
                        display: block;
                        width: 100%;
                        height: rem-calc(1);
                        background: $secondary;
                    }

                    td{
                        padding-bottom: rem-calc(25);
                    }
                }
            }

            th,td{
                font-weight: 300;

                &:first-child{
                    padding-left: rem-calc(50);

                    @include breakpoint(medium down){
                        padding-left: rem-calc(18);
                    }
                }

                &:last-child{
                    padding-right: rem-calc(50);
                    text-align: right;

                    @include breakpoint(medium down){
                        padding-right: rem-calc(18);
                    }
                }

                &:nth-child(3){
                    text-align:center;
                }
            }

            td{
                font-weight: 700;

                @include breakpoint(small down){
                    display: block;
                    text-align: right;
                    padding-bottom: rem-calc(30);

                    &::before{
                        content:attr(data-title)": ";
                        float: left;
                    }
                }

                strong, p{
                    font-weight: 300;
                    margin-bottom:0;
                }
            }

            .fake-tr{
                background-color: $primary;

                td, p{
                    padding:0;
                    line-height: 0;

                    @include breakpoint(small down){

                        &::before{
                            content: none;
                        }
                    }
                }

                &:last-child{

                    td{
                        padding-top:rem-calc(12);

                        @include breakpoint(small down){
                            padding-top:0;
                        }

                        &:first-child{
                            padding-left: rem-calc(18);

                            @include breakpoint(small down){
                                padding-right: rem-calc(18);
                            }
                        }

                        &:last-child{
                            padding-right: rem-calc(18);
                        }
                    }

                    p{
                        border-top: solid rem-calc(1) $secondary;
                        line-height: 1;

                        @include breakpoint(small down){
                            border-top: 0;
                            line-height: 0;
                        }
                    }
                }
            }

            .product-quantity{

                @include breakpoint(small down){
                    padding-right: 0;
                }

                input{
                    width: rem-calc(31);
                    height: rem-calc(31);
                    font-size: rem-calc(18);
                    font-weight: 700;
                    margin-bottom:0;
                    appearance: textfield;
                }

                .input-group-prepend,
                .quantity,
                .input-group-append{
                    display: inline-block;
                }

                .input-group-prepend,
                .input-group-append{

                    button{
                        font-weight: 700;
                        font-size: rem-calc(26);
                        padding:rem-calc(0 10);
                        cursor:pointer;
                        line-height: 1.1;
                    }
                }

                .quantity-input-box{
                    display: flex;
                    flex-direction: row-reverse;
                    justify-content: center;

                    @include breakpoint(small down){
                        justify-content: flex-start;
                    }
                }
            }

            th{

                @include breakpoint(small down){
                    display: none;
                }
            }

            .cart-subtotal{

                td{

                    @include breakpoint(small down){
                        padding-top:rem-calc(60);
                    }
                }
            }
        }

        .woocommerce-checkout-review-order{

            .checkout_coupon.woocommerce-form-coupon{
                overflow:visible!important;
                height: auto!important;
                padding-top: 20px!important;
                padding-bottom: 20px!important;
                margin-top:rem-calc(18)!important;
                margin-bottom:2em!important;
                border:0;
                border-radius: 0;

                .coupon-form-box{
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    position: relative;

                    &__input-title{
                        margin:0;
                        margin-right:rem-calc(20);
                        font-weight: rem-calc(18);
                        font-weight: 500;
                    }

                    @include breakpoint(small down){
                        flex-direction: column;
                        align-items: flex-start;
                    }
                }

                .form-row{
                    float: none;
                    width: auto;
                    margin:0;

                    input{
                        width: rem-calc(307);

                        @include breakpoint(small down){
                            width: rem-calc(245);
                        }
                    }
                }

                .form-row-first{

                    @include breakpoint(small down){
                        padding-left: 0;
                    }
                }

                .form-row-last{
                    position: absolute;
                    left: auto;
                    right: rem-calc(10);
                    line-height: 2;

                    @include breakpoint(small down){
                        left: rem-calc(190);
                        right: auto;
                        bottom: rem-calc(3);
                    }

                    button{
                        padding-right:rem-calc(30);

                        img{
                            right: rem-calc(10);
                        }

                        &:hover{

                            img{
                                right: 0;
                            }
                        }
                    }
                }
            }
        }

        .woocommerce-checkout-place-order{
            position: relative;
            padding-bottom: rem-calc(50);

            button.button-underline{
                font-size:rem-calc(23);
                font-weight: 700;
                position: absolute;
                bottom: 0;
                right:0;
                border-bottom: solid rem-calc(1) $red;
                padding-left: 0;
                padding-bottom: rem-calc(12);
                padding-right: rem-calc(90);
                max-width: rem-calc(256);
                text-align: left;
                line-height: 1.2;

                @include breakpoint(small down){
                    right:auto;
                    left: 0;
                }
            }

            .place-order-arrow{
                position: absolute;
                bottom: rem-calc(15);
                right:0;
                z-index:-1;
                transition: all .2s ease-in-out;

                @include breakpoint(small down){
                    right:auto;
                    left: rem-calc(210);
                }
            }

            button.button-underline:hover ~ .place-order-arrow{
                right:rem-calc(-15);

                @include breakpoint(small down){
                    left: rem-calc(230);
                }
            }
        }
    }

    // LOGIN/REGISTRATION FORM
    .log-reg-container{

        .createaccount-link{
            font-size: $footer-font;
            text-align: center;
            margin-top:rem-calc(30);

            a{
                color:$black;
                text-decoration: underline;

                &:hover{
                    color:$red;
                    transition:all .2s ease-in-out;
                }
            }
        }
    }

    .log-reg-form-box{
        max-width:rem-calc(650);
        width: 100%;
        margin:auto;
        background:$primary;
        padding:{
            top:rem-calc(40);
            bottom:rem-calc(40);
        };
        text-align:center;

        h2{
            font-size: $login-head-font;
            text-transform:uppercase;
            color:$red;
            font-weight: 300;
        }

        form{
            border:0;
            border-radius:0;
            padding: 0 27%;

            @include breakpoint(small down){
                padding: 0 10%;
            }

            input{
                background:$primary;
                padding-left: 0;
                font-size: $body-font-size!important;
            }

            .form-row{
                margin-bottom:rem-calc(25);
            }

            .button-underline{
                border-bottom: solid rem-calc(1) $red;
                padding-left:0;
                padding-right:rem-calc(60);
                text-align: center;
                margin:0 auto;
                float: none;
                display: block;
            }
        }

        &--alter{
            padding-bottom:rem-calc(30);

            h2{
                color:$black;
            }

            form{
                padding:0;

                .form-row-padding-x{
                    padding: 0 27%;

                    @include breakpoint(small down){
                        padding: 0 10%;
                    }
                }

                .form-row.privacy{
                    padding: rem-calc(0 45);
                    margin: rem-calc(45 0);

                    @include breakpoint(small down){
                        padding: 0 10%;
                    }

                    .woocommerce-input-wrapper{
                        position: relative;

                        label{
                            padding-left: rem-calc(30);
                            display: block;
                            line-height: 1.4;

                            input{
                                position: absolute;
                                top: rem-calc(3);
                                left: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    &.woocommerce-lost-password{

        form .form-row{
            float: none;
            width: auto;

            &:first-child{
                margin-top:rem-calc(60);
            }

            .button-underline{
                margin-top:rem-calc(30);
            }
        }

        .reset-password-subheader{
            margin-top:rem-calc(30);
            padding:rem-calc(0 30);
            font-size:$footer-font;
        }
    }

    // ORDER-RECEIVED
    &.woocommerce-order-received{

        .article-header,
        #breadcrumbs{
            display: none;
            visibility: hidden;
        }

        .woocommerce-order{
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            flex-direction: column;
            max-width: rem-calc(900);
            width: 100%;
            margin: auto;
            padding-top:rem-calc(70);
            padding-bottom: rem-calc(90);

            h1{
                font-size: $section-head-font;
                color: $red;
                text-transform: uppercase;
                font-weight: 300;
            }

            p{
                margin:{
                    top:rem-calc(45);
                    bottom:rem-calc(60);
                }
            }
        }
    }

    // ORDER-RECEIVED
    &.woocommerce-account{

        .woocommerce-MyAccount-navigation{
            margin-bottom: rem-calc(40);
        }

        .woocommerce-Addresses{

            .col-2{

                span{
                    display: none;
                }
            }
        }

        .woocommerce-MyAccount-navigation,
        .woocommerce-MyAccount-content{

            @include breakpoint(medium down){
                float: none;
                width: 100%;
            }

            h2{
                font-size: $footer-font;
                font-weight: 300;
                text-transform: uppercase;
                color:$red;
                margin-bottom: rem-calc(30);
            }
        }

        .woocommerce-MyAccount-navigation{

            ul{
                list-style: none;
                margin-left: 0;

                li{
                    position: relative;
                    background: $primary;
                    margin-bottom: rem-calc(15);

                    a{
                        color: $red;
                        padding:rem-calc(10 15);
                        display: block;
                        font-weight: 700;
                        text-transform: lowercase;

                        img{
                            position: absolute;
                            top:50%;
                            transform:translateY(-50%);
                            left: auto;
                            right: rem-calc(30);
                            opacity: 0;
                            transition: all .3s ease-in-out;
                        }

                        &:hover{

                            img{
                                right: rem-calc(20);
                                opacity: 1;
                            }
                        }
                    }

                    &.is-active{

                        a{

                            img{
                                opacity: 0.5;
                            }
                        }
                    }
                }
            }
        }

        .woocommerce-MyAccount-content{

            .order-summary{
                text-transform: uppercase;

                mark{
                    background-color: transparent;
                    color: $black;
                    font-weight: 700;
                }
            }

            .woocommerce-orders-table, tbody{
                border:0;
                border-collapse: collapse;

                .woocommerce-orders-table__row{
                    background: $primary;
                }

                .gap{
                    line-height: rem-calc(15);
                    height: rem-calc(15);
                    background-color:$white;
                }

                .woocommerce-orders-table__cell{
                    font-size: $footer-font;
                    font-weight: 900;
                    text-transform: uppercase;
                    color:$black;
                    padding:{
                        top: rem-calc(9);
                        bottom:rem-calc(9);
                    };
                    border-top: 0;

                    &::before{
                        margin-right: rem-calc(15);
                    }

                    &:first-child{
                        padding-left:rem-calc(20);

                        @include breakpoint(rem-calc(768) down){
                            padding-left: rem-calc(8);
                        }
                    }

                    &:last-child{
                        text-align:right;
                        padding-right: rem-calc(20);

                        &::before{
                            content: none;
                        }
                    }

                    .green{
                        color: $green;
                    }

                    .orange{
                        color: $orange;
                    }

                    .red{
                        color:$red;
                    }
                }
            }

            .woocommerce-order-details{

                h2{
                    margin-bottom:0;
                }

                .woocommerce-table--order-details{
                    border-radius: 0;
                    border:0;
                    border-collapse:collapse;

                    thead,tbody,thead,tfoot,tbody tr:nth-child(2n){
                        border:0;
                        background:transparent;
                    }

                    th, th a, td, td a{
                        color:$black;
                        font-weight: 300;
                    }

                    th, td{
                        padding-top:rem-calc(40);
                        border-bottom: 1px solid rgba(0,0,0,.1);
                    }

                    td a{
                        transition: all .2s ease-in-out;

                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }

                .woocommerce-bacs-bank-details{
                    margin-top:rem-calc(40);

                    h3, ul li:last-child, ul:last-child{
                        display: none;
                    }

                    ul{
                        margin-top:rem-calc(15);
                        padding-bottom:rem-calc(5);

                        li{
                            float: none;
                            display: inline-block;
                            border:0;
                            font-size: $body-font-size;
                            text-transform: lowercase;

                            strong{
                                display: inline-block;
                                font-weight: 500;
                                font-size: $body-font-size;
                            }
                        }
                    }
                }
            }

            .woocommerce-EditAccountForm{
                margin-bottom:rem-calc(100);

                .form-row-first,
                .form-row-last{

                    @include breakpoint(small down){
                        float: none;
                        width: 100%;
                    }
                }

                fieldset{
                    margin-top:rem-calc(50);
                    margin-bottom:rem-calc(50);
                }
            }

            .woocommerce-address-fields{

                .woocommerce-address-fields__field-wrapper{
                    margin-bottom:rem-calc(50);

                    .form-row-first,
                    .form-row-last{

                        @include breakpoint(small down){
                            float: none;
                            width: 100%;
                        }
                    }
                }

                #billing_country_field{
                    margin-top:rem-calc(20);

                    span strong{
                        font-size:$footer-font;
                        padding-left:rem-calc(8);
                    }
                }
            }
        }
    }

    &.woocommerce-cart{

        .woocommerce{

            @include breakpoint(medium down){

                table.shop_table .cart-subtotal td:first-child, table.shop_table .cart-subtotal td:last-child,
                table.shop_table .order-total td:first-child, table.shop_table .order-total td:last-child{
                    text-align: right!important;
                }

                .cart_totals table.shop_table td{
                    display: table-cell;
                }

                table.shop_table_responsive tr:nth-child(2n) td{
                    background-color: transparent!important;
                }

                table.shop_table_responsive{
                    background-color:$primary;
                }
            }

            @include breakpoint(rem-calc(768) down){

                .cart_totals table.shop_table_responsive tbody th{
                    display: table-cell;
                }

                .cart_totals table.shop_table_responsive tr{
                    display: table-row;
                }
            }

            @include breakpoint(small down){
                .cart_totals table.shop_table_responsive tbody .woocommerce-shipping-totals th,
                .cart_totals table.shop_table_responsive tbody .woocommerce-shipping-totals td{
                    padding-top:rem-calc(30);
                    padding-bottom:rem-calc(10);
                }

                .cart_totals table.shop_table_responsive tbody .woocommerce-shipping-totals td{
                    padding-left:0;
                }

                .cart_totals table.shop_table_responsive tbody .woocommerce-shipping-totals td ul#shipping_method li{
                    margin-bottom:rem-calc(10);

                    &:last-child{
                        margin-bottom: 0;
                    }
                }

                .cart_totals table.shop_table_responsive tbody .cart-discount td{
                    padding-right: rem-calc(8);
                }
            }
        }
    }
}

.woocommerce-checkout #payment ul.payment_methods li img{
    display: none;
}
